//sass D:\street-wear-shop2\scss\style.scss D:\street-wear-shop2\css\style.css --watch
@import 'css-reset';
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');
$acent-color: #FF652F;
$acent-light-color: #FFE400;
$acent-positive-color: #14A76C;
$dark-color: #272727;
$dark-color-half-oppacity:rgba(39,39,39,.5);
$dark-light-color: #747474;
$light-color: #E3E3E3;
$light-light-color: #F2F2F2;
$standard-gap: 30Px;
$nav-height: 60Px;
$logo-height: 55Px;

@mixin background-image-set($x1-img, $x2-img, $x3-img) {
	background-image: url($x1-img); 
	background-image: -webkit-image-set(
		url($x1-img) 1x,
		url($x2-img) 2x,
		url($x3-img) 3x
	);
	background-image: -moz-image-set(
		url($x1-img) 1x,
		url($x2-img) 2x,
		url($x3-img) 3x
	);
	background-image: -o-image-set(
		url($x1-img) 1x,
		url($x2-img) 2x,
		url($x3-img) 3x
	);
	background-image: -ms-image-set(
		url($x1-img) 1x,
		url($x2-img) 2x,
		url($x3-img) 3x
	);
}

@mixin after-arrow($size) {
	content: '';
	display: inline-block;
	width: $size;
	height: $size;
	margin-left: 0.5em;
	border-style: solid;
	border-width: 0 2Px 2Px 0;
	transform: rotate(-45deg);
}

%home-page-block-header {
	border-bottom: 1Px solid $light-light-color;
	margin-bottom: $standard-gap;
}

%home-page-block {
	border-bottom: 3Px solid $light-light-color;
	margin-bottom: 50Px;
	padding-bottom: $standard-gap;
}

%standard-flex {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

%standard-h2 {
	font-size: 3rem;
	font-weight: 300;
	color: $dark-light-color;
	line-height: 1em;
}

body {
	font: 400 14Px/18Px 'Open Sans', sans-serif;
}

.site-column {
	max-width: 1200Px; 
	min-width: 380Px;
	margin: 0 auto;
	padding: 0 50Px; 
}

header {
	height: 260Px;
	position: relative;
	background-position: center top;
	background-repeat: no-repeat;
	@include background-image-set(
		'../image/Header\ Background.jpg',
		'../image/Header\ Background_2x.jpg',
		'../image/Header\ Background_3x.jpg'
	);
	margin-bottom: $standard-gap;

	.logo {	
		position: absolute;
		width: 162Px;
		height: $logo-height;
		left: $standard-gap;
		top: 50%;
		margin-top: -1*($logo-height/2) - $nav-height/2;
	}

	nav {
		position: absolute;
		width: 100%;
		bottom: 0;
		padding: 0 30Px;
		box-sizing: border-box;
		background: $light-color;
		border-bottom: 1Px solid $dark-light-color;

		ul {
			@extend %standard-flex;
			line-height: $nav-height;

			li a {
				color: $dark-color;
				text-decoration: none;
				text-transform: uppercase;
			}
		}
	}
}

.promotional {
	@extend %standard-flex;
	@extend %home-page-block;
	//margin-bottom: $standard-gap;

	li a {
		position: relative;
		display: block;
		text-decoration: none;

		.tooltip{
			position: absolute;
			width: 100%;
			height: 140Px;
			bottom: 0;
			padding: $standard-gap	;
			box-sizing: border-box;
			color:$light-light-color;
			background: $dark-color-half-oppacity; 
			font-size: 2.143em;
			line-height: 1em;
			text-transform: uppercase;
			display: flex;
			flex-direction: column;
			justify-content: space-around;

			.click-here{
				display:block;
				color: $acent-color;
				font-size:1.57rem;
				line-height: 1em;
				&:after {
					@include after-arrow(15Px);
				}
			}
		}
	}
}

.brands {
	@extend %home-page-block;
	
	h2 {
		@extend %home-page-block-header;
		@extend %standard-h2;
	}
	ul {
		@extend %standard-flex;
	}
}

.new-arrivals {
	@extend %home-page-block;

	.header {
		@extend %home-page-block-header;

		display: flex;
		align-items: flex-end;

		h2 {
			@extend %standard-h2;
			padding-right: $standard-gap;
		}

		a {
			color: $acent-color;
			font-size: 1.57rem;
			line-height: 1.1em;
			text-decoration: none;
			&:after {
				@include after-arrow(10Px);
			}
		}
	}

	.items {
		@extend %standard-flex;

		.item {
			color: $acent-positive-color;
			margin-bottom: $standard-gap;

			.image {
				position: relative;
				border: 3Px solid $dark-color;

				img {
					width: 272Px;
					height: 408Px; // width * 1.5
				}

				span {
					position: absolute;
					width: 100%;
					bottom: 0;
					display: block;
					padding: 15Px;
					box-sizing: border-box;
					background: $dark-color-half-oppacity;
					font-size: 1.57rem;
					line-height: 1em;
				}
			}

			.price {
				display: flex;
				justify-content: space-between;
				align-items: center;
				margin-top: 10Px;
				
				span {
					font-size: 1.5em;

					span {
						font-size: 1.5em;
						font-weight: 600;
						padding-left: 5Px;
					}
				}

				button {
					background: none;
					color: $acent-positive-color;
					padding: 5Px 50Px;
					border: 2Px solid $dark-color;
					border-radius: 5Px;
					font-size: 1.5em;
					font-weight: 600;
					text-transform: uppercase;
				}
				
				button:hover {
					background: $dark-color;
					color: white;	
				}
			}
		}
	}
}

@media screen and (max-width: 1239Px) {
	.promotional {
		justify-content: space-around;
		margin-bottom: 0;
		padding-bottom: 0;
		border-bottom: none;

		li {
			padding-bottom: 10px;
		}
	}
	header {
		margin-bottom: 10Px;
	}
	.brands
	{
		padding-bottom: 10Px;
		margin-bottom: 10Px;

		 h2 {
			margin-bottom: 10Px;
			//padding-bottom: 5Px;
		 }
	}
	.new-arrivals .items {
		justify-content: space-around;
	}
}
@media screen and (max-width: 760Px) {
	.site-column {
		padding: 0;
	}
	header {
		margin-bottom: 10Px;

		nav ul {
			justify-content: space-around;
		}
	}
	.brands	 ul {
		flex-direction: column;
		align-items: center;
	}
}
@media screen and (max-width: 555Px) {
	.new-arrivals .items .item .image img {
		width: 374Px;
		height: 561Px;
	}
}
@media screen and (max-width: 436Px) {
	header .logo {
		margin-top: (-1*($logo-height/2) - $nav-height/2) - 30;
	}
}